
@media (max-width: 1000px) and (min-width: 768px) {
    /* ABOUT US HEADER */
    .about-us-header{
        height: 250px;
        background-position-y: -150px;
    }
    .about-us-header h1{
        font-size: 26px;
        padding-bottom: 2rem;
    }
        
    /* INFORMATION ABOUT US */
    .information, .about-us-information-pic-container{
        height: auto;
        margin: 2.5rem 0;
    }
    .information{
        margin-left: 1.5rem;
    }
    .information > *{
        padding: .6rem;
    }
    .information h1{
        font-size: 24px;
        padding-bottom: 1.75rem;
    }
    .information h1::after{ /* line below about us title */
        width: 87.5px;
        top: 3.25rem;
        margin: 0 .6rem;
    }
    .information p {
        font-size: 14px;
    }
    
    .about-us-information-pic{
        width: 65%;
    }
    .about-us-information-pic::before{
        bottom: -12.5px;
        right: -12.5px;
    }

    /* PARTNERS */
    .partners-container{
        padding: 2rem 0;
    }
    .partners-container .heading{
        padding: 0 0 1.75rem;
    }
    .partners-container h1{
        font-size: 24px;
    }
    .partners-container .heading .underline{
        margin-top: .75rem;
        height: 2.5px;
        width: 160px;
    }
    .partners-list .partner{
        width: 175px;
        height: 125px;
        margin: .75rem;
    }
    .partners-list .partner img{
        height: auto;
        width: 125px;
    }
    
    /* WHO ARE WE */
    .who-are-we{
        flex-wrap: wrap-reverse;
    }
    .who-are-we > *{
        min-height: 47.5vw;
    }
    .who-are-we .description{
        width: 90%;
        line-height: 22px;
        font-size: 13px;
    }
    .who-are-we .title{
        width: 90%;
        padding: 1.5rem 0;
    }
    .who-are-we .title i{
        font-size: 35px;
        padding-right: 1.5rem;
    }
    .who-are-we .title h3{
        font-size: 19px;
    }
}
@media (max-width: 1200px) and (min-width: 1000px){
    /* ABOUT US HEADER */
    .about-us-header{
        background-position-y: -250px;
    }
    .about-us-header h1{
        font-size: 26px;
        padding-bottom: 2.25rem;
    }
        
    /* INFORMATION ABOUT US */
    .information, .about-us-information-pic-container{
        height: auto;
        margin: 3rem 0;
    }
    .information{
        margin-left: 2rem;
    }
    .information > *{
        padding: .5rem;
    }
    .information h1{
        font-size: 26px;
        padding-bottom: 2rem;
    }
    .information h1::after{ /* line below about us title */
        width: 95px;
        top: 3.5rem;
        margin: 0 .6rem;
    }
    .information p {
        font-size: 15px;
    }

    .about-us-information-pic{
        width: 65%;
    }
    .about-us-information-pic::before{
        bottom: -15px;
        right: -15px;
    }

    /* WHO ARE WE */
    .who-are-we{
        flex-wrap: wrap-reverse;
    }
    .who-are-we > *{
        height: 35vw;
    }
    .who-are-we .description{
        width: 85%;
        line-height: 23px;
        font-size: 15px;
    }
    .who-are-we .title{
        width: 85%;
        padding: 1.7rem 0;
    }
    .who-are-we .title i{
        font-size: 40px;
        padding-right: 1.7rem;
    }
    .who-are-we .title h3{
        font-size: 20px;
    }
}
@media (max-width: 1450px) and (min-width: 1200px){
    /* ABOUT US HEADER */
    .about-us-header{
        background-position-y: -300px;
    }
        
    /* INFORMATION ABOUT US */
    .information, .about-us-information-pic-container{
        height: 67.5vh;
    }
    .information{
        margin-left: 3rem;
    }
    .information > *{
        padding: .75rem;
    }
    .information h1{
        font-size: 28px;
        padding-bottom: 2.5rem;
    }
    .information h1::after{ /* line below about us title */
        width: 105px;
        top: 4.25rem;
        margin: 0 .8rem;
    }
    .information p {
        font-size: 15px;
    }
    .about-us-information-pic{
        width: 65%;
    }
    .about-us-information-pic::before{
        bottom: -17.5px;
        right: -17.5px;
    }

    /* WHO ARE WE */
    .who-are-we > *{
        height: 32.5vw;
    }
    .who-are-we{
        flex-wrap: wrap-reverse;
    }
    .who-are-we .description{
        width: 80%;
        line-height: 23.5px;
        font-size: 16px;
    }
    .who-are-we .title{
        width: 80%;
        padding: 2rem 0;
    }
    .who-are-we .title i{
        font-size: 50px;
        padding-right: 2rem;
    }
    .who-are-we .title h3{
        font-size: 22px;
    }
}