/* GLOBAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(245, 245, 245);
}

.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}

/* MAIN CONTAINER */
.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* ABOUT US HEADER */
.about-us-header{
    width: 100%;
    height: 275px;
    background: url('/public/images/about_us_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -375px;
}
.about-us-heading-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.4);
}
.about-us-header h1{
    color: rgb(248.5, 248.5, 248.5);
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 2.5px;
    padding-bottom: 2.5rem;
    text-align: center;
}

/* INFORMATION ABOUT US */
.about-us-information{
    border-top: .75px solid #F0502B;
    padding: 5.5rem 0;
}
.information, .about-us-information-pic-container{
    width: 50%;
}
.information{
    justify-content: center;
    margin-left: 4rem;
}
.information > *{
    padding: 1rem;
}
.information h1{
    position: relative;
    font-size: 32px;
    font-weight: 900;
    text-transform:  uppercase;
    letter-spacing: 3.5px;
    padding-bottom: 3rem;
}
.information h1::after{ /* line below about us title */
    content: '';
    height: 3px;
    width: 120px;
    background-color: #ff6340;
    position: absolute;
    top: 5.25rem;
    left: 0rem;
    margin: 0 1rem;
}
.information p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(44, 44, 44);
    letter-spacing: .5px;
}
.about-us-information-pic-container{
    display: grid;
    place-items: center;
}

@keyframes imageSlideInAnimation {
    from{
        opacity: 0;
        right: -15rem;
    }
    to{
        opacity: 1;
        right: 0;
    }
}
.about-us-information-pic{
    position: relative;
    width: 60%;
    height: auto;
    animation-name: imageSlideInAnimation;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, 0, 0.3, 1.04);
}
.about-us-information-pic::before{
    content: '';
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 100%;
    height: 100%;
    background-color: #fc7050;
    z-index: -1;
}
.about-us-information-pic img{
    width: 100%;
    height: auto;
    
}

/* CONTACT BUTTON */
@keyframes buttonHoverAnimation{
    0%{
        top: 0;
    }
    100%{
        top: -8px;
    }
}
@keyframes buttonHoverAnimationEnd{
    0%{
        top: -8px;
    }
    100%{
        top: 0;
    }
}
.contact-buttons .number{
    border: 1.5px solid #131313;
    background-color: #131313;
}
.contact-buttons .number i{
    padding-right: .5rem;
}
.contact-buttons .quote{
    text-transform: uppercase;
    color: #F0502B;
    border: 1.5px solid #F0502B;
    margin-left: 1rem;
}
.contact-buttons .quote, .contact-buttons .number{
    width: 225px;
}
.contact-buttons .number:hover{
    border: 1.5px solid #F0502B;
    background-color: #F0502B;
}
.contact-buttons .quote:hover{
    color: white;
    background-color: #F0502B;
}
.contact-buttons a {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: .75rem 1.2rem;
    letter-spacing: 1.5px;
    animation-name: buttonHoverAnimationEnd;
}

/* used in services section buttons and slideshow footer buttons */
.links-hover-animation{
    position: relative;
    transition: all .3s ease;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.links-hover-animation:hover{
    animation-name: buttonHoverAnimation;
}

 /* slider footer buttons animations */
@keyframes leftToRightButtonAnimation{
    0%{
        opacity: 0;
        left: -10rem;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}
@keyframes topToBottomButtonAnimation{
    0%{
        opacity: 0;
        top: -5rem;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}
#leftToRight, #topToBottom{
    position: relative;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

#leftToRight{
    animation-name: leftToRightButtonAnimation;
}
#topToBottom{
    position: relative;
    animation-name: topToBottomButtonAnimation;
}

/* WHO ARE WE */

.who-are-we{
    display: flex;
    flex-wrap: wrap;
}
.who-are-we > *{
    opacity: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 380px;
    display: flex;
    align-items: center;
    animation-duration: .75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.who-are-we .description{
    font-size: 18px;
    font-weight: 300;
    width: 75%;
    line-height: 25px;
    letter-spacing: 1.5px;
}
.who-are-we .title{
    width: 75%;
    align-items: center;
    padding: 2.5rem 0;
}
.who-are-we .title i{
    color: #ff6340;
    font-size: 60px;
    padding-right: 2rem;
}
.who-are-we .title h3{
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.dark, .dark h3{
    background-color: #ffffff52;
    color: #131313;
}
.light, .light h3{
    background-color: rgb(32, 32, 32);
    color: rgb(211, 211, 211);
}
.light h3{
    color: rgb(240, 240, 240);
}
@keyframes aboutUsContainerOneAnimation{
    from{
        opacity: 0;
        top: -15rem;
    }
    to{
        opacity: 1;
        top: 0;
    }
}
@keyframes aboutUsContainerTwoAnimation{
    from{
        opacity: 0;
        left: 15rem;
    }
    to{
        opacity: 1;
        left: 0;
    }
}
@keyframes aboutUsContainerThreeAnimation{
    from{
        opacity: 0;
        left: -15rem;
    }
    to{
        opacity: 1;
        left: 0;
    }
}
@keyframes aboutUsContainerFourAnimation{
    from{
        opacity: 0;
        top: 15rem;
    }
    to{
        opacity: 1;
        top: 0;
    }
}
/* .who-are-we-1{
    animation-name: aboutUsContainerOneAnimation;
}
.who-are-we-2{
    animation-name: aboutUsContainerTwoAnimation;
}
.who-are-we-3{
    animation-name: aboutUsContainerThreeAnimation;
}
.who-are-we-4{
    animation-name: aboutUsContainerFourAnimation;
} */

/* PARTNERS */
.partners-container{
    color: #131313;
    width: 100%;
    align-items: center;
    padding: 6rem 0;
}
.partners-container .heading{
    padding: 0 0 2rem;
    justify-content: center;
    align-items: center;
}
.partners-container h1{
    font-size: 32px;
    font-weight: 900;
    text-transform:  uppercase;
    letter-spacing: 3.5px;
}
.partners-container .heading .underline{ /* line below partners title */
    margin-top: 2rem;
    height: 3px;
    width: 180px;
    background-color: #F0502B;
}
.partners-list{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@keyframes partnersContainersAnimations{
    from{
        opacity: 0;
        bottom: -10rem;
    }
    to{
        opacity: 1;
        bottom: 0;
    }
}
.partners-list .partner{
    position: relative;
    width: 200px;
    height: 150px;
    margin: 1rem;
    background-color: rgb(240, 240, 240);
    box-shadow: -8px 8px 10px 1.5px  rgba(58, 58, 58, 0.10);
    display: grid;
    place-items: center;
    opacity: 0;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.partners-list .partner:nth-child(2){
    animation-delay: .2s;
}
.partners-list .partner:nth-child(3){
    animation-delay: .4s;
}
.partners-list .partner:nth-child(4){
    animation-delay: .6s;
}
.partners-list .partner:nth-child(5){
    animation-delay: .8s;
}
.partners-list .partner:nth-child(6){
    animation-delay: 1s;
}
.partners-list .partner img{
    height: auto;
    width: 150px;
}