
@media (max-width: 1000px) and (min-width: 768px) {
    
    /* PARTNERS */
    .partners-container{
        padding: 2rem 0;
    }
    .partners-container .heading{
        padding: 0 0 1.75rem;
    }
    .partners-container h1{
        font-size: 26px;
    }
    .partners-container .heading .underline{
        margin-top: .75rem;
        height: 2.5px;
        width: 160px;
    }
    .partners-list .partner{
        width: 175px;
        height: 125px;
        margin: .75rem;
    }
    .partners-list .partner img{
        height: auto;
        width: 125px;
    }
    
    /* WHO ARE WE */
    .who-are-we{
        flex-wrap: wrap-reverse;
    }
    .who-are-we > *{
        min-height: 47.5vw;
    }
    .who-are-we .description{
        width: 90%;
        line-height: 22px;
        font-size: 13px;
    }
    .who-are-we .title{
        width: 90%;
        padding: 1.5rem 0;
    }
    .who-are-we .title i{
        font-size: 35px;
        padding-right: 1.5rem;
    }
    .who-are-we .title h3{
        font-size: 19px;
    }
}
@media (max-width: 1200px) and (min-width: 1000px){
    /* WHO ARE WE */
    .who-are-we{
        flex-wrap: wrap-reverse;
    }
    .who-are-we > *{
        height: 35vw;
    }
    .who-are-we .description{
        width: 85%;
        line-height: 23px;
        font-size: 15px;
    }
    .who-are-we .title{
        width: 85%;
        padding: 1.7rem 0;
    }
    .who-are-we .title i{
        font-size: 40px;
        padding-right: 1.7rem;
    }
    .who-are-we .title h3{
        font-size: 20px;
    }
}
@media (max-width: 1450px) and (min-width: 1200px){
    /* WHO ARE WE */
    .who-are-we > *{
        height: 32.5vw;
    }
    .who-are-we{
        flex-wrap: wrap-reverse;
    }
    .who-are-we .description{
        width: 80%;
        line-height: 23.5px;
        font-size: 16px;
    }
    .who-are-we .title{
        width: 80%;
        padding: 2rem 0;
    }
    .who-are-we .title i{
        font-size: 50px;
        padding-right: 2rem;
    }
    .who-are-we .title h3{
        font-size: 22px;
    }
}