@media (max-width: 1200px) and (min-width: 768px) {
    
    /* PARTNERS */
    .partners-container{
        padding: 2rem 0;
    }
    .partners-container .heading{
        padding: 0 0 1.75rem;
    }
    .partners-container h1{
        font-size: 26px;
    }
    .partners-container .heading .underline{
        margin-top: .75rem;
        height: 2.5px;
        width: 160px;
    }
    .partners-list .partner{
        width: 175px;
        height: 125px;
        margin: .75rem;
    }
    .partners-list .partner img{
        height: auto;
        width: 125px;
    }
    
    /* WHO ARE WE */
    .who-are-we > *{
        width: 49.45vw;
        height: 30vw;
    }
    .who-are-we .description{
        font-size: 18px;
    }
    .who-are-we .title{
        padding-bottom: 2rem;
    }
    .who-are-we .title i{
        font-size: 60px;
        padding-right: 2rem;
    }
    .who-are-we .title h3{
        font-size: 26px;
    }
}