@media (max-width: 767px) {
    /* ABOUT US HEADER */
    .about-us-header{
        height: 225px;
        background-position-y: -25px;
    }
    .about-us-heading-container{
        align-items: center;
    }
    .about-us-header h1{
        font-size: 24px;
        padding-bottom: 0;
        padding-top: 3.5rem;
    }

    /* INFORMATION ABOUT US */
    .about-us-information-pic-container{
        display: none;
    }
    .information{
        width: 100%;
        height: 50vh;
        margin: 0 1rem;
    }
    .information{
        margin-left: 1.5rem;
    }
    .information > *{
        padding: .5rem;
    }
    .information h1{
        font-size: 22px;
        padding-bottom: 1.5rem;
    }
    .information h1::after{ /* line below about us title */
        width: 87.5px;
        height: 2.5px;
        top: 3rem;
        margin: 0 .5rem;
    }
    .information p {
        font-size: 12px;
    }

    /* PARTNERS */
    .partners-container{
        padding: 1.75rem 0;
        height: 50vh;
        justify-content:center;
    }
    .partners-container .heading{
        padding: 0 0 1.25rem;
    }
    .partners-container h1{
        font-size: 22px;
    }
    .partners-container .heading .underline{ /* line below partners title */
        margin-top: .5rem;
        height: 2.5px;
        width: 135px;
    }
    .partners-list .partner{
        width: 120px;
        height: 70px;
        margin: .5rem;
        box-shadow: -8px 8px 10px 1.5px  rgba(58, 58, 58, 0.10);
    }
    .partners-list .partner img{
        width: 70px;
    }

    /* WHO ARE WE */
    .who-are-we > *{
        width: 100vw;
        height: 50vh;
        justify-content: center;
        padding: 2rem 1rem;
    }
    .who-are-we-2, .who-are-we-2 h3{
        background-color: #ffffffc0;
        color: #131313;
    }
    .who-are-we-1, .who-are-we-1 h3{
        background-color: #131313;
        color: rgb(211, 211, 211);
    }
    .who-are-we .description{
        width: 90%;
        line-height: 22px;
        font-size: 12px;
    }
    .who-are-we .title{
        width: 90%;
        padding: 0;
        padding-bottom: 1.5rem;
    }
    .who-are-we .title i{
        font-size: 35px;
        padding-right: 1.5rem;
    }
    .who-are-we .title h3{
        font-size: 20px;
    }
}