
@media (max-width: 1000px) and (min-width: 768px) {
    /* PRODUCTS HEADER */
    .products-header{
        height: 250px;
        background-position-y: -150px;
    }
    .products-header h1{
        font-size: 26px;
        padding-bottom: 2rem;
    }

    /* PRODUCTS */
    .products-containers section, .products-containers section:nth-child(1){
        height: 42.5vh;
    }

    /* PRODUCT INFORMATION */
    .product-information > *{
        padding: .6rem;
        margin-left: 2.5rem;
    }
    .product-information h1{
        font-size: 24px;
        padding-bottom: 1.75rem;
    }
    .product-information h1::after{ 
        top: 3.25rem;
        margin: 0 .6rem;
    }
    .product-information p {
        font-size: 14px;
        width: 40ch;
    }

    /* PRODUCT IMAGE CONTAINER */
    .product-pic-container img{
        width: 50%;
        height: auto;
    }
    .mothers-logo{ /* Mothers logo */
        width: 35% !important;
    }

    .contact-buttons a {
        font-size: 10px;
        padding: .6rem 1rem;
    }
    .contact-buttons .number{
        border: 1.5px solid #131313;
        background-color: #131313;
    }
    .contact-buttons .number i{
        padding-right: .2rem;
    }
    .contact-buttons .quote{
        margin-left: .6rem;
    }
    .contact-buttons .quote, .contact-buttons .number{
        width: 175px;
    }
}
@media (max-width: 1200px) and (min-width: 1000px){
    /* PRODUCTS HEADER */
    .products-header{
        background-position-y: -250px;
    }
    .products-header h1{
        font-size: 26px;
        padding-bottom: 2.25rem;
    }

    /* PRODUCTS */
    .products-containers section{
        height: 32.5vh;
    }
    .products-containers section:nth-child(1){
        height: 37.5vh;
    }

    /* PRODUCT INFORMATION */
    .product-information > *{
        padding: .5rem;
        margin-left: 2.5rem;
    }
    .product-information h1{
        font-size: 26px;
        padding-bottom: 2rem;
    }
    .product-information h1::after{ 
        top: 3.5rem;
        margin: 0 .6rem;
    }
    .product-information p {
        font-size: 15px;
        width: 51ch;
    }

    .contact-buttons a {
        font-size: 14px;
        padding: .7rem 1rem;
    }
    .contact-buttons .number i{
        padding-right: .3rem;
    }
    .contact-buttons .quote{
        margin-left: .8rem;
    }
    .contact-buttons .quote, .contact-buttons .number{
        width: 200px;
    }
}
@media (max-width: 1450px) and (min-width: 1200px){
    /* PRODUCTS HEADER */
    .products-header{
        background-position-y: -300px;
    }

    /* PRODUCTS */
    .products-containers section, .products-containers section:nth-child(1){
        height: 45vh;
    }
    .products-containers section:nth-child(1){
        height: 57.5vh;
    }

    /* PRODUCT INFORMATION */
    .product-information > *{
        padding: .75rem;
    }
    .product-information h1{
        font-size: 28px;
        padding-bottom: 2.5rem;
    }
    .product-information h1::after{ 
        top: 4.25rem;
        margin: 0 .8rem;
    }

    .product-information p {
        font-size: 15px;
        width: 61ch;
    }

    .contact-buttons a {
        font-size: 14px;
    }
    .contact-buttons .number i{
        padding-right: .4rem;
    }
    .contact-buttons .quote{
        margin-left: 1rem;
    }
    .contact-buttons .quote, .contact-buttons .number{
        width: 210px;
    }
}