@media (max-width: 767px) {

    /* PRODUCTS HEADER */
    .products-header{
        height: 225px;
        background-position-y: 0px;
    }
    .products-header-container{
        align-items: center;
    }
    .products-header h1{
        font-size: 24px;
        padding-bottom: 0;
        padding-top: 3.5rem;
    }

    /* PRODUCTS */
    .products-containers section{
        flex-direction: column;
        min-height: 50vh;
        height: auto;
        padding: .25rem 0;
    }
    .products-containers section:nth-child(1){
        height: auto;
        min-height: 45vh;
        padding: 1rem 0;
    }
    .product-pic-container{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 1rem;
        background-color: #ffffff00;
    }
    .product-information{
        justify-content: center;
        background-color: transparent;
        color: rgb(32, 32, 32);
    }
    .product-information, .product-pic-container{
        width: 100%;
    }

    /* PRODUCT INFORMATION */
    .product-information > *{
        padding: .5rem;
        margin-left: 1rem;
    }
    .product-information h1{
        color: rgb(32, 32, 32);
        font-size: 22px;
        padding-bottom: 1.5rem;
    }
    .product-information h1::after{ 
        height: 2.5px;
        top: 3rem;
        margin: 0 .5rem;
    }
    .product-information p {
        width: 50ch;
        font-size: 12px;
        color: rgb(44, 44, 44);
    }

    /* PRODUCT IMAGE CONTAINER */
    .product-pic-container img{
        width: 85%;
    }
    .mothers-logo{ /* Mothers logo */
        width: 50% !important;
    }

    .contact-buttons a {
        font-size: 10px;
        padding: .5rem .8rem;
    }
    .contact-buttons .number i{
        padding-right: .2rem;
    }
    .contact-buttons .quote, .contact-buttons .number{
        width: 150px;
    }

    /* USED FOR MOBILE ONLY TO GIVE CONTAINERS DARK BACKGROUND */
    .dark-container-for-mobile{
        color: rgb(211, 211, 211);
        background-color: rgb(32, 32, 32);
        flex-direction: column-reverse !important;
    }
    .dark-container-for-mobile h1{
        color: rgb(240, 240, 240);
    }
    .dark-container-for-mobile h1::after{
        height: 2.25px;
    }
    .dark-container-for-mobile p{
        color: rgb(211, 211, 211);
    }
}