/* GLOBAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(245, 245, 245);
}

.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}

/* MAIN CONTAINER */
.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* PRODUCTS HEADER */
.products-header{
    width: 100%;
    height: 275px;
    background: url('/public/images/about_us_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -375px;
}
.products-header-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.4);
}
.products-header h1{
    color: rgb(248.5, 248.5, 248.5);
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 2.5px;
    padding-bottom: 2.5rem;
    text-align: center;
}


/* PRODUCTS */
.products-containers section{
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    border-top: .75px solid #F0502B;
}
.products-containers section:nth-child(1){
    height: 62vh;
}
.no-border-top{
    border-top: none !important;
}
.product-information, .product-pic-container{
    width: 50%;
    height: 100%;
}

/* PRODUCT INFORMATION */
@keyframes productInfoSlideInFromRightAnimation {
    from{
        opacity: 0;
        right: -10rem;
    }
    to{
        opacity: 1;
        right: 0;
    }
}
@keyframes productInfoSlideInFromLeftAnimation {
    from{
        opacity: 0;
        left: -10rem;
    }
    to{
        opacity: 1;
        left: 0;
    }
}
.product-information{
    color: rgb(211, 211, 211);
    justify-content: center;
    background-color: rgb(32, 32, 32);
}
.products-containers .partner article{
    background-color: transparent;
}
.products-containers article h1, .products-containers article p{
    position: relative;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, 0, 0.3, 1.04);
}
.products-containers .partner article:nth-child(1){
    animation-name: none;
}
.products-containers .partner article h1, .products-containers .partner article p{
    color: rgb(32, 32, 32);
}
.product-information > *{
    padding: 1rem;
    margin-left: 4rem;
}
.product-information h1{
    color: rgb(240, 240, 240);
    position: relative;
    font-size: 32px;
    font-weight: 900;
    text-transform:  uppercase;
    letter-spacing: 3.5px;
    padding-bottom: 3rem;
}
.product-information h1::after{ 
    content: '';
    height: 3px;
    width: 15%;
    background-color: #ff6340;
    position: absolute;
    top: 5.2rem;
    left: 0rem;
    margin: 0 1rem;
}
.product-information p {
    width: 71ch;
    font-size: 16px;
    font-weight: 400;
    color: rgb(211, 211, 211);
    letter-spacing: .5px;
}
/* CONTACT BUTTON */
@keyframes buttonHoverAnimation{
    0%{
        top: 0;
    }
    100%{
        top: -8px;
    }
}
@keyframes buttonHoverAnimationEnd{
    0%{
        top: -8px;
    }
    100%{
        top: 0;
    }
}
.contact-buttons .number{
    border: 1.5px solid #131313;
    background-color: #131313;
}
.contact-buttons .number i{
    padding-right: .5rem;
}
.contact-buttons .quote{
    text-transform: uppercase;
    color: #F0502B;
    border: 1.5px solid #F0502B;
    margin-left: 1rem;
}
.contact-buttons .quote, .contact-buttons .number{
    width: 225px;
}
.contact-buttons .number:hover{
    border: 1.5px solid #F0502B;
    background-color: #F0502B;
}
.contact-buttons .quote:hover{
    color: white;
    background-color: #F0502B;
}
.contact-buttons a {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: .75rem 1.2rem;
    letter-spacing: 1.5px;
    animation-name: buttonHoverAnimationEnd;
}

/* used in services section buttons and slideshow footer buttons */
.links-hover-animation{
    position: relative;
    transition: all .3s ease;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.links-hover-animation:hover{
    animation-name: buttonHoverAnimation;
}

 /* slider footer buttons animations */
@keyframes leftToRightButtonAnimation{
    0%{
        opacity: 0;
        left: -10rem;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}
#leftToRight{
    position: relative;
    animation-name: leftToRightButtonAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes topToBottomButtonAnimation{
    0%{
        opacity: 0;
        top: -5rem;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}
#topToBottom{
    opacity: 0;
    position: relative;
    animation-name: topToBottomButtonAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/* PRODUCT IMAGE CONTAINER */
.product-pic-container{
    display: grid;
    place-items: center;
    background-color: #ffffff52;
}
@keyframes partnerLogoRotateAnimation{
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(0deg);
    }
}
.product-1{
    animation-name: partnerLogoRotateAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    background-color: transparent;
}

/* PRODUCT IMAGE FADE-IN ANIMATION */
@keyframes productImageFadeInAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.product-pic-container img{
    width: 50%;
    height: auto;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.mothers-logo{ /* Mothers logo */
    width: 35% !important;
    animation-name: productImageFadeInAnimation;
}


/* VISIT MOTHERS */
.visit-mothers-container{
    padding: 8rem 0;
    display: grid;
    place-items: center;
}

.visit-mothers-container a{
    text-decoration: none;
    color: #131313;
    font-size: 24px;
    letter-spacing: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.visit-mothers-container a span:nth-child(1){
    background-color: #F0502B;
    margin-right: 1.25rem;
    height: 40px;
    width: 7px;
}
.visit-mothers-container a span:nth-child(2){
    color: #F0502B;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
    margin: 0 1rem;
    letter-spacing: 1px;
}
.visit-mothers-container a .arrows{
    position: relative;
    left: 1rem;
    font-size: 18px;
    transition: all .1s ease;
}
.visit-mothers-container a:hover .arrows{
    left: 1.25rem;
}

@keyframes aboutUsContainerOneAnimation{
    from{
        opacity: 0;
        top: -15rem;
    }
    to{
        opacity: 1;
        top: 0;
    }
}
@keyframes aboutUsContainerTwoAnimation{
    from{
        opacity: 0;
        left: 15rem;
    }
    to{
        opacity: 1;
        left: 0;
    }
}
@keyframes aboutUsContainerThreeAnimation{
    from{
        opacity: 0;
        left: -15rem;
    }
    to{
        opacity: 1;
        left: 0;
    }
}
@keyframes aboutUsContainerFourAnimation{
    from{
        opacity: 0;
        top: 15rem;
    }
    to{
        opacity: 1;
        top: 0;
    }
}
/* .who-are-we-1{
    animation-name: aboutUsContainerOneAnimation;
}
.who-are-we-2{
    animation-name: aboutUsContainerTwoAnimation;
}
.who-are-we-3{
    animation-name: aboutUsContainerThreeAnimation;
}
.who-are-we-4{
    animation-name: aboutUsContainerFourAnimation;
} */

/* PARTNERS */
.partners-container{
    color: #131313;
    width: 100%;
    align-items: center;
    padding: 6rem 0;
}
.partners-container .heading{
    padding: 0 0 2rem;
    justify-content: center;
    align-items: center;
}
.partners-container h1{
    font-size: 32px;
    font-weight: 900;
    text-transform:  uppercase;
    letter-spacing: 3.5px;
}
.partners-container .heading .underline{ /* line below partners title */
    margin-top: 2rem;
    height: 3px;
    width: 180px;
    background-color: #F0502B;
}
.partners-list{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@keyframes partnersContainersAnimations{
    from{
        opacity: 0;
        bottom: -10rem;
    }
    to{
        opacity: 1;
        bottom: 0;
    }
}
.partners-list .partner{
    position: relative;
    width: 200px;
    height: 150px;
    margin: 1rem;
    background-color: rgb(240, 240, 240);
    box-shadow: -8px 8px 10px 1.5px  rgba(58, 58, 58, 0.10);
    display: grid;
    place-items: center;
    opacity: 0;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.partners-list .partner:nth-child(2){
    animation-delay: .2s;
}
.partners-list .partner:nth-child(3){
    animation-delay: .4s;
}
.partners-list .partner:nth-child(4){
    animation-delay: .6s;
}
.partners-list .partner:nth-child(5){
    animation-delay: .8s;
}
.partners-list .partner:nth-child(6){
    animation-delay: 1s;
}
.partners-list .partner img{
    height: auto;
    width: 150px;
}
